{% extends "layout.html" %}

{% block content %}

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body class="middle">
        <img src="/static/content/fellerlogo.png">
        <br />
        <div class="container2">
            <img src="/static/content/martinfeller.jpg" class="image">
            <div class="overlay">
                <div class="text "><button onclick="location.href='/home'" class="button"><b>HOME</b></button></div>
                <div class="text2"><button onclick="location.href='/merch'" class="button" disabled><b>MERCH</b></button></div>
                <div class="text3"><button onclick="location.href='/contact'" class="button"><b>CONTACT</b></button></div>
            </div>
        </div>
        <br />
        <b id="latestwork" style="color: white">LATEST WORK</b>
        <div>
            {% for i in range(len): %}
            <button onclick="location.href='/{{rowlist[i][0]}}'" id="show" style="background-color: transparent; border: none; width: 80%; height: 40%;"><img src="/static/content/{{rowlist[i][2]}}" class="image2" /></button>
            {% endfor %}
        </div>
    </body>

{% endblock %}
