<!DOCTYPE html>
<html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@515&display=swap');
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Martin Feller</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/css.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <br />
        <br />
        <footer id="footer">
            <p>&copy; {{ year }} - A COLLABORATION OF FELLER RECORDS AND KEVIN VONCKEN SOFTWARE</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
