{% extends "layout.html" %}

{% block content %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    </script>
</head>
<body class="middle">
    <b style="filter: drop-shadow(0 0 0.85rem black); color: white; font-size: 60px;">{{ songname }}</b>
    <br />
    <br>
    <div class="container2">
        <img src="\static\content\{{ musiclogo }}" class="image">
        <div class="overlay">
            <div class="text "><button onclick="location.href='/home'" class="button"><b>HOME</b></button></div>
            <div class="text2"><button onclick="location.href='/merch'" class="button" disabled><b>MERCH</b></button></div>
            <div class="text3"><button onclick="location.href='/contact'" class="button"><b>CONTACT</b></button></div>
        </div>
    </div>
    <br />
    <div>

        <iframe width="60%" height="30%" style="border-radius: 0%;" src="https://www.youtube.com/embed/{{youtubeembed}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />
        <br />
        <br />
        <div width="30%" id="musictextbox" >
            <b></b>Martin Feller is een lokale artiest uit regio parkstad/heuvelland
        </div>
        <br />
        <iframe width="80%" height="30%" class="image4" style="border-radius: 0%;" src="https://open.spotify.com/embed/track/{{spotifyembed}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</body>

{% endblock %}
