
body {
    background-image: linear-gradient(50deg, #ffa8e1 26.32%, #6b89ff 26.32%, #6b89ff 50%, #ffa8e1 50%, #ffa8e1 76.32%, #6b89ff 76.32%, #6b89ff 100%);
    background-size: 190.00px 226.43px;
    background-position: 0 0, 50px 50px;
    background-size: 15vw 15vw;
    padding-top: 0px;
    font-family: 'Quicksand', verdana;
    text-align: center;
    font-size: 2vw;
    margin: auto;
    margin-top: 50px;
}

img {
    width: 60%;
    margin: auto;
}

.box {
    border-style: dotted solid;
    margin: auto;
}

.middle {
    margin: auto;
}

.container2 {
    text-align: center;
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

.image {
    border-style: solid;
    border-color: #ffda45;
    border-width: 1.5vw;
    display: block;
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.image2 {
    border-style: solid;
    border-color: #ffe370;
    border-width: 1.2vw;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transition: ease 1s;
}

    .image2:hover {
        border-style: solid;
        border-color: #57ff8f;
        border-width: 1vw;
        display: block;
        width: 42%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 13px rgba(0,0,0,0.67);
        transition: ease 0.3s;
    }


.image3{
    border-style: solid;
    border-color: #14A098;
    border-width: 1vw;
    display: block;
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

    .image3:hover {
        border-style: solid;
        border-color: #14A098;
        border-width: 1vw;
        display: block;
        width: 69%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        transform: rotate(180deg);
    }

.image4 {
    border-style: solid;
    border-color: #ffe370;
    border-width: 1.2vw;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    transition: ease 1s;
}

.overlay {
    font-family: 'Quicksand', verdana;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 70%;
    height: 0;
    transition: .9s ease;
}



.headtextbox {
    box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);
    opacity: 0.9;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    margin: 5%;
    font-size: 3vw;
}

iframe {
    border-radius: 5%;
    box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);
}

.headtextbox2 {
    border-style: dashed;
    border-color: #14A098;
    border-width: 0.5vw;
    border-radius: 15%;
    opacity: 0.9;
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.container2:hover .overlay {
    border-style: solid;
    border-color: #14A098;
    border-width: 1.5vw;
    opacity: 0.9;
    bottom: 0%;
    height: 100%;
    border-radius: 5% 15% 5% 15%;
    box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);

    
}

.container2:hover .overlay2 {
    border-style: solid;
    border-color: #14A098;
    border-width: 0.5vw;
    opacity: 0.9;
    bottom: 0%;
    height: 100%;
    border-radius: 5% 15% 5% 15%;
    box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);
}

#latestwork {
    font-size: 70px;
}

#emailbox {
    font-size: 40px;
}

#musictextbox {
    border-style: dotted;
    border-color: #14A098;
    color: black;
    border-radius: 1%;
    background-color: white;
    opacity: 0.8;
    border-width: 0.5vw;
    width: 60%;
    margin-left: 20%;
}

.text {
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: center;
    font-size: 10px;
}

.text2 {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;
}

.text3 {
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10px;
}

.text4 {
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: center;
    font-size: 2vw;
}

.text5 {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
}

.text6 {
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
}


.button {
    font-family: 'Quicksand', verdana;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 50px;
    margin-left: 1% 1%;
    opacity: 0.9;
    transition: ease 1s;
    display: inline-block;
}

    .button:hover {
        opacity: 1
    }



#footer {
    color: white;
    opacity: 0.2;
    font-size: 2vw;
}

input,
.StripeElement {
  height: 40px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input {
  padding: 10px 12px;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

@media only screen and (max-device-width: 480px) {
    body {
        background-image: linear-gradient(50deg, #ffa8e1 26.32%, #6b89ff 26.32%, #6b89ff 50%, #ffa8e1 50%, #ffa8e1 76.32%, #6b89ff 76.32%, #6b89ff 100%);
        background-size: 190.00px 226.43px;
        background-position: 0 0, 50px 50px;
        background-size: 15vw 15vw;
        padding-top: 0px;
        font-family: 'Quicksand', verdana;
        text-align: center;
        font-size: 2vw;
        margin: auto;
        margin-top: 50px;
    }

    img {
        width: 100%;
        margin: auto;
    }

    .box {
        border-style: dotted solid;
        margin: auto;
    }

    .middle {
        margin: auto;
    }

    .container2 {
        text-align: center;
        position: relative;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    .image {
        border-style: solid;
        border-color: #ffda45;
        border-width: 2vw;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .image2 {
        border-style: solid;
        border-color: #ffe370;
        border-width: 2vw;
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        transition: ease 1s;
    }

        .image2:hover {
            border-style: solid;
            border-color: #57ff8f;
            border-width: 2.5vw;
            display: block;
            width: 42%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 13px rgba(0,0,0,0.67);
            transition: ease 0.3s;
        }


    .image3 {
        border-style: solid;
        border-color: #14A098;
        border-width: 1vw;
        display: block;
        width: 69%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

        .image3:hover {
            border-style: solid;
            border-color: #14A098;
            border-width: 1vw;
            display: block;
            width: 69%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            transform: rotate(180deg);
        }

    .image4 {
        border-style: solid;
        border-color: #ffe370;
        border-width: 1.2vw;
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        transition: ease 1s;
    }

    .overlay {
        font-family: 'Quicksand', verdana;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .9s ease;
    }



    .headtextbox {
        box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);
        opacity: 0.9;
        background-color: white;
        border-radius: 15px;
        padding: 1%;
        margin: 5%;
        font-size: 3vw;
    }

    iframe {
        border-radius: 5%;
        box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);
    }

    .headtextbox2 {
        border-style: dashed;
        border-color: #14A098;
        border-width: 0.5vw;
        border-radius: 15%;
        opacity: 0.9;
        background-color: white;
        border-radius: 15px;
        padding: 2%;
        margin: 5%;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .container2:hover .overlay {
        border-style: solid;
        border-color: #14A098;
        border-width: 1.5vw;
        opacity: 0.9;
        bottom: 0%;
        height: 100%;
        border-radius: 5% 15% 5% 15%;
        box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);
    }

    .container2:hover .overlay2 {
        border-style: solid;
        border-color: #14A098;
        border-width: 0.5vw;
        opacity: 0.9;
        bottom: 0%;
        height: 100%;
        border-radius: 5% 15% 5% 15%;
        box-shadow: -4px 6px 0px 5px rgba(0,0,0,0.75);
    }

    #latestwork {
        font-size: 50px;
    }

    #emailbox {
        font-size: 20px;
    }


    #musictextbox {
        border-style: dotted;
        border-color: #14A098;
        color: black;
        border-radius: 1%;
        background-color: white;
        opacity: 0.8;
        border-width: 0.5vw;
        width: 63%;
        margin-left: 17.5%;
        font-size: 5vw;
    }

    .text {
        color: black;
        position: absolute;
        top: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: center;
        font-size: 10px;
    }

    .text2 {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 10px;
    }

    .text3 {
        color: black;
        position: absolute;
        top: 70%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 10px;
    }

    .text4 {
        color: black;
        position: absolute;
        top: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: center;
        font-size: 2vw;
    }

    .text5 {
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2vw;
    }

    .text6 {
        color: black;
        position: absolute;
        top: 70%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2vw;
    }


    .button {
        font-family: 'Quicksand', verdana;
        background-color: transparent;
        border: none;
        text-align: center;
        font-size: 50px;
        margin-left: 1% 1%;
        opacity: 0.9;
        transition: ease 1s;
        display: inline-block;
    }

        .button:hover {
            opacity: 1
        }



    #footer {
        color: white;
        opacity: 0.2;
        font-size: 2vw;
    }

    input,
    .StripeElement {
        height: 40px;
        color: #32325d;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    input {
        padding: 10px 12px;
    }

        input:focus,
        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }
}